In [2]:
import pandas as pd
import numpy as np

In [3]:
references=[7,0,1,2,0,3,0,4,2,3,0,3,1,2,0]

In [4]:
number_of_frames=3

In [5]:
data = np.ones((number_of_frames,len(references))) 
data=np.negative(data)

In [6]:
columns=range(len(references))

In [7]:
df = pd.DataFrame(data, columns=columns)

In [8]:
df

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
1 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
2 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0

<b>FIFO ALGO<b>

In [194]:
for i in range(number_of_frames):
    if i>0:
        
        df[i]=df[i-1].values
    df[i][i]=references[i]

In [195]:
df

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0  7.0  7.0  7.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
1 -1.0  0.0  0.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
2 -1.0 -1.0  1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0

In [196]:
frame_index=0
hit_or_miss=[0]*len(references)
for i in range(number_of_frames,len(references)):
    if references[i] in df[i-1].values:
        df[i]=df[i-1].values
        hit_or_miss[i]=1
        
    else:
        
        df[i]=df[i-1].values

        df[i][frame_index] = references[i]
        frame_index+=1
        if frame_index>2:
            frame_index=frame_index%number_of_frames

In [197]:

df.columns=references
df

     7    0    1    2    0    3    0    4    2    3    0    3    1    2    0
0  7.0  7.0  7.0  2.0  2.0  2.0  2.0  4.0  4.0  4.0  0.0  0.0  0.0  0.0  0.0
1 -1.0  0.0  0.0  0.0  0.0  3.0  3.0  3.0  2.0  2.0  2.0  2.0  1.0  1.0  1.0
2 -1.0 -1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  3.0  3.0  3.0  3.0  2.0  2.0

In [198]:
print(hit_or_miss)

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1]

In [211]:
page_hit_ratio=(sum(hit_or_miss)/len(references)*100)
page_miss_ratio=((len(hit_or_miss)-sum(hit_or_miss))/len(references))*100

In [212]:
print ("page_hit_ratio: ",page_hit_ratio, " %")
print ("page_miss_ratio: ",page_miss_ratio, " %")

page_hit_ratio:  20.0  %
page_miss_ratio:  80.0  %

<b>LRU<b>

In [9]:
def get_LRU(reference, i, number_of_frames):
    partition=[]
    while number_of_frames > 0:
        i-=1
        partition.append(reference[i])
        number_of_frames-=1
    
    while partition[-1] in partition[0:-2]:
        i-=1
        partition.append(reference[i])
    return partition[-1]

In [10]:
get_LRU(references, 13, 3)

0

In [11]:
for i in range(number_of_frames):
    if i>0:
        
        df[i]=df[i-1].values
    df[i][i]=references[i]

In [12]:
hit_or_miss=[0]*len(references)
for i in range(number_of_frames,len(references)):
    if references[i] in df[i-1].values:
        df[i]=df[i-1].values
        hit_or_miss[i]=1    
    else:
        
        df[i]=df[i-1].values
        x=get_LRU(references, i, number_of_frames)
        for j in range(len(df[i])):
            if df[i][j]==x:
                df[i][j]=references[i]
                #print (i,">>",j)

In [13]:

df.columns=references
df

     7    0    1    2    0    3    0    4    2    3    0    3    1    2    0
0  7.0  7.0  7.0  2.0  2.0  2.0  2.0  4.0  4.0  4.0  0.0  0.0  0.0  2.0  2.0
1 -1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  3.0  3.0  3.0  3.0  3.0  0.0
2 -1.0 -1.0  1.0  1.0  1.0  3.0  3.0  3.0  2.0  2.0  2.0  2.0  1.0  1.0  1.0

In [287]:
page_hit_ratio=(sum(hit_or_miss)/len(references)*100)
page_miss_ratio=((len(hit_or_miss)-sum(hit_or_miss))/len(references))*100

In [288]:
print ("page_hit_ratio: ",page_hit_ratio, " %")
print ("page_miss_ratio: ",page_miss_ratio, " %")

page_hit_ratio:  20.0  %
page_miss_ratio:  80.0  %

<b>LFU<b>

<b>create dict of freq<b>

In [36]:
references=[7,0,1,2,0,3,0,4,2,3,0,3,2,1,2]
#references=[7,0,1,2,0,3,0,4,2,3,0,3,1,2,0]

mylist = references
mylist = list(dict.fromkeys(mylist))
global frequencies
frequencies={}
for i in mylist:
    frequencies[i]=0
frequencies.items()

dict_items([(7, 0), (0, 0), (1, 0), (2, 0), (3, 0), (4, 0)])

<b> update freqs<b>

In [37]:
for i in range(number_of_frames):
    if i>0:
        df[i]=df[i-1].values
    df[i][i]=references[i]
    i-=1
    
for j in df[number_of_frames-1]:
    frequencies[j]+=1

In [38]:
frequencies.items()

dict_items([(7, 1), (0, 1), (1, 1), (2, 0), (3, 0), (4, 0)])

In [39]:


hit_or_miss=[0]*len(references)
for i in range(number_of_frames,len(references)):   
    if references[i] in df[i-1].values:
        df[i]=df[i-1].values
        frequencies[references[i]]+=1
        hit_or_miss[i]=1
    else:       
        df[i]=df[i-1].values
        x=get_least_freq(frequencies, df[i])
        for j in range(len(df[i])):
            if df[i][j]==x:
                df[i][j]=references[i]
                frequencies[x]=0
                frequencies[references[i]]+=1

hit
hit
hit
hit

In [40]:
frequencies.items()

dict_items([(7, 0), (0, 4), (1, 0), (2, 1), (3, 2), (4, 0)])

In [43]:

df.columns=references
df

     7    0    1    2    0    3    0    4    2    3    0    3    2    1    2
0  7.0  7.0  7.0  2.0  2.0  3.0  3.0  4.0  2.0  3.0  3.0  3.0  3.0  3.0  3.0
1 -1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2 -1.0 -1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  2.0  1.0  2.0

In [44]:
page_hit_ratio=(sum(hit_or_miss)/len(references)*100)
page_miss_ratio=((len(hit_or_miss)-sum(hit_or_miss))/len(references))*100

In [45]:
print ("page_hit_ratio: ",page_hit_ratio, " %")
print ("page_miss_ratio: ",page_miss_ratio, " %")

page_hit_ratio:  26.666666666666668  %
page_miss_ratio:  73.33333333333333  %

In [35]:
def get_least_freq(freqs, col):
    tmp_dict={}
    for i in col:
        for j in frequencies:
            if i == j:
                tmp_dict[i]=frequencies[j]
    x=min(tmp_dict.items(), key=lambda x: x[1])[0]
    return x